<div class="control-group">
  <label class="control-label">{{i18n "group_invitation.invite_user"}}</label>

  {{input type="checkbox"
      checked=model.custom_fields.allow_invite_users}}

  {{i18n "group_invitation.admin.allow_invite_member"}}
</div>